<a href="https://colab.research.google.com/github/cindy12651269/Data_Filling_Strategies/blob/cindy12651269%2Fhw1/Data_Filling_Strategies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

raw_data = {'first_name': ['Jason', np.nan, 'Tina', 'Jake', 'Amy'],
            'last_name': ['Miller', np.nan, 'Ali', 'Milner', 'Cooze'],
            'age': [42, np.nan, 36, 24, 73],
            'sex': ['m', np.nan, 'f', 'm', 'f'],
            'preTestScore': [4, np.nan, np.nan, 2, 3],
            'postTestScore': [25, np.nan, np.nan, 62, 70]}

df = pd.DataFrame(raw_data, columns=['first_name', 'last_name', 'age', 'sex', 'preTestScore', 'postTestScore'])

# 1. Drop missing observations
df_drop_na = df.dropna()
print("Drop missing observations:")
print(df_drop_na)

# 2. Drop rows where all cells in that row is NA
df_drop_all_na = df.dropna(how="all")
print("\nDrop rows where all cells in that row is NA:")
print(df_drop_all_na)

# 3. Create a new column full of missing values
df['new_column'] = np.nan
print("\nCreate a new column full of missing values:")
print(df)

# 4. Fill in missing data with zeros
df_fill_zero = df.fillna(0)
print("\nFill in missing data with zeros:")
print(df_fill_zero)

# 5. Fill in missing in preTestScore with the mean value of preTestScore
preTestScore_Mean = df['preTestScore'].mean()
df['preTestScore'].fillna(preTestScore_Mean, inplace= True)
print("\nFill in missing in preTestScore with the mean value of preTestScore:")
print(df)

# 6. Fill in missing in postTestScore with each sex’s mean value of postTestScore
df['postTestScore']= df.groupby('sex')['postTestScore'].transform(lambda x: x.fillna(x.mean()))
print("\nFill in missing in postTestScore with each sex’s mean value of postTestScore:")
print(df)

# 7. Select some rows but ignore the missing data points
selected_rows = df.loc[0:2, ['first_name', 'last_name', 'age']]
print("\nSelect some rows but ignore the missing data points:")
print(selected_rows)

Drop missing observations:
  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
3       Jake    Milner  24.0   m           2.0           62.0
4        Amy     Cooze  73.0   f           3.0           70.0

Drop rows where all cells in that row is NA:
  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
2       Tina       Ali  36.0   f           NaN            NaN
3       Jake    Milner  24.0   m           2.0           62.0
4        Amy     Cooze  73.0   f           3.0           70.0

Create a new column full of missing values:
  first_name last_name   age  sex  preTestScore  postTestScore  new_column
0      Jason    Miller  42.0    m           4.0           25.0         NaN
1        NaN       NaN   NaN  NaN           NaN            NaN         NaN
2       Tina       Ali  36.0    f           NaN            NaN         NaN
3       Jake    Milner  24.0    m           2.0           62.0         NaN
4        Amy     Cooze  73.0    f           3.0           70.0         NaN

Fill in missing data with zeros:
  first_name last_name   age sex  preTestScore  postTestScore  new_column
0      Jason    Miller  42.0   m           4.0           25.0         0.0
1          0         0   0.0   0           0.0            0.0         0.0
2       Tina       Ali  36.0   f           0.0            0.0         0.0
3       Jake    Milner  24.0   m           2.0           62.0         0.0
4        Amy     Cooze  73.0   f           3.0           70.0         0.0

Fill in missing in preTestScore with the mean value of preTestScore:
  first_name last_name   age  sex  preTestScore  postTestScore  new_column
0      Jason    Miller  42.0    m           4.0           25.0         NaN
1        NaN       NaN   NaN  NaN           3.0            NaN         NaN
2       Tina       Ali  36.0    f           3.0            NaN         NaN
3       Jake    Milner  24.0    m           2.0           62.0         NaN
4        Amy     Cooze  73.0    f           3.0           70.0         NaN

Fill in missing in postTestScore with each sex’s mean value of postTestScore:
  first_name last_name   age  sex  preTestScore  postTestScore  new_column
0      Jason    Miller  42.0    m           4.0           25.0         NaN
1        NaN       NaN   NaN  NaN           3.0            NaN         NaN
2       Tina       Ali  36.0    f           3.0           70.0         NaN
3       Jake    Milner  24.0    m           2.0           62.0         NaN
4        Amy     Cooze  73.0    f           3.0           70.0         NaN

Select some rows but ignore the missing data points:
  first_name last_name   age
0      Jason    Miller  42.0
1        NaN       NaN   NaN
2       Tina       Ali  36.0